html{
    background-color: #a9a9a9; ;
}
header{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
h1{
    font-size: 60px;
    text-align: center;
    flex: 5;
}
h2{
    font-size: 45px;
    text-align: center;
}
p,li{
    font-size: 21px;
}
header,
nav,
footer,
section {
   background-color: green;
    padding: 1%;
}
header img {
    display: block;
    height: 80px;
    padding-top: 30px; 
}
body{
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    padding: 2%;
}
main,article,aside{
    padding:1%;
    background-color: orange;
}
nav{
    height: 50px;
    display: flex;
    flex: 100%;
    padding: 1%;
}
nav ul{
    padding: 0%;
    list-style: none;
    flex: 2;
    display: flex;
}
nav li{
    display: inline;
    justify-content: center;
    align-items: center;
    flex: 1;
}
nav a{
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
main {
    display: flex;
    margin-top: 10px;
}
article,section {
    flex: 4;
}
aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
}
  
aside a {
    display: block;
    float: left;
    width: 50%;
}
  
aside img {
    max-width: 100%;
}
  
footer {
    margin-top: 10px;
}



