*{
    margin: 0;
    padding: 0;
    list-style: none; /* 清除样式 */
    text-decoration: none;/* 清除下滑线 */
}
html,body{
    width: 100%;
    background-color: white;
    height: 1000px;
}
.dh{
    width: 100%;
    height: 100%;
}
.dh .top{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
.dh .top .top1{
    width: 1190px;
    height: 35px;
    margin: 0 auto;/* 居中 */
}
.dh .top .top1 .top1-left{
    float: left;/* 左浮动 */
}
.dh .top .top1 .top1-right{
    float: right;/* 右浮动 */
}
.dh .top .top1 li{
    float: left;
    margin-left: 7px;
}
.dh .top .top1 li a{
    color: #6c6c6c;
    font-size: 12px;/* 字体大小为12px */
    line-height: 35px;/* 行高为35px */
    padding: 0 6px;
}
.dh .top .top1 li a:hover,
.dh .top .top1 li .login{
    color: orange;
}
.dh .top .top1 .zg{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 35px;
}
.dh .top2{
    width: 100%;
    height: 97px;
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 9px;
}
.dh .top02{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
}
.dh .top2 .top02 .logo{
    display: inline-block;
    width: 198px;
    height: 98px;
    vertical-align:middle;
} 
.dh .top2 .top02 .logo img{
    width: 100%;
    height: 100%;
}
.dh .top2 .top02 .hz{
    display:inline-block;
    height: 87px;
    width: 627px;
    margin-left: 50px;
    vertical-align:middle;
}
.dh .top2 .top02 .hz .bb{
    width: 627px;
    height: 62px;
}
.dh .top2 .top02 .hz .bb .tab{
    width: 610px;
    height: 22px;
    margin-left: 17px;
}
.dh .top2 .top02 .hz .bb li{
    color: #f40;
    float: left;
    width: 36px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 4px;
    font-size: 12px;
}
.dh .top2 .top02 .hz .bb li:hover{
    background-color: #ffeee5;
}
.dh .top2 .top02 .hz .bb .select{
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    font-weight: 700;
}
.dh .top2 .top02 .hz .bb .search-panel{
    width: 627px;
    height: 40px;
    position: relative;
}
.dh .top2 .top02 .hz .bb .btn{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 74px;
    height: 40px;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.dh .top2 .top02 .hz .bb .btn button{
    border:none;
    background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width:100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor:pointer;
    color:#fff;
    font-size: 18px;
    font-weight: 700;
}
.dh .top2 .top02 .hz .bb .search-inp-box{
    width: 551px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    height: 36px;
    overflow: hidden;
}
.dh .top2 .top02 .hz .bb .search-inp-box .search-inp{
    width: 472px;
    height: 36px;
    overflow: hidden;
}
.dh .top2 .top02 .hz .bb .search-inp-box .search-inp input{
    width: 472px;
    height: 24px;
    border: none;
    line-height: 24px;
    outline: 0;
    text-indent: 10px;
    padding: 6px 16px;
    background-color: #fff;
}
.dh .top2 .top02 .hz .bb .search-panel .sousuo,
.dh .top2 .top02 .hz .bb .search-panel .camera{
    display: inline-block;
    position: absolute;
}
.dh .top2 .top02 .hz .search-ft{ 
    width: 610px;
    height: 18px;
}
.dh .top2 .top02 .hz .search-ft ul li{
    float: left;
}
.dh .top2 .top02 .hz .search-ft ul li a{
    color:#3c3c3c;
    font-size: 12px;
    margin-right: 5px;
}
.dh .top2 .top02 .hz .search-ft a:hover,
.dh .top2 .top02 .hz .search-ft ul li select{
    color: #ff5000;
}
.dh .top2 .top02 .hz .search-ft .more{
    float: right;
    color: #3c3c3c;
    font-size: 12px;
    line-height: 25px;
}
.dh .screen-nav-wrap{
    width: 100%;
    height: 30px;
}
.dh .screen-nav-wrap .screen-nav-con{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
}
.dh .screen-nav-wrap .screen-nav-con h2{
    float: left;
    width: 190px;
    height: 30px;
    color: #ff5000;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.dh .screen-nav-wrap .screen-nav-con ul{
    height: 30px;
    font-size: 16px;
    float: left;
}
.dh .screen-nav-wrap .screen-nav-con ul li{
    float: left;
    text-align: center;
    padding: 0 4px;
    margin: 0 3px;
    line-height: 30px;
    font-weight: 700;
    color: #ff5000;
}
.dh .screen-nav-wrap .screen-nav-con ul li a{
    color: #ff5000;
    text-align: center;
    line-height: 30px;
}
.dh .screen-box-wrap{
    width: 1190px;
    margin: 0 auto;
    height: 632px;
}
.dh .screen-box-wrap .main{
    width: 790px;
    height: 532px;
    float: left;
}
.dh .screen-box-wrap .main .main-inner{
    width: 720px;
    height: 522px;
    vertical-align: top;
    display: inline-block;
}
.dh .screen-box-wrap .main .main-inner .inner-left{
    width: 190px;
    height: 522px;
    float: left;
    background-color: #fff;
}
.dh .screen-box-wrap .main .main-inner .inner-left ul{
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 14px
}
.dh .screen-box-wrap .main .main-inner .inner-left ul li{
    height: 32px;
    width: 144px;
    line-height: 32px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
}
.dh .screen-box-wrap .main .main-inner .inner-left ul li a{
    color: #666;
}
.dh .screen-box-wrap .main .main-inner .inner-left ul li:hover{
    background-color: #ffeee5;
    color: #ff5000;
}
.dh .screen-box-wrap .main .main-inner .inner-con{
    width: 520px;
    height: 512px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.dh .screen-box-wrap .main .main-inner .inner-con .pic-box{
    position: relative;
    width: 520px;
    height: 280px;
}
.dh .screen-box-wrap .main .main-inner .inner-con .inner-mall{
    width: 520px;
    height: 230px;
    margin-top: 30px;
    padding-top: 10px;
}
.dh .screen-box-wrap .main .main-inner .inner-con .head{
    width: 520px;
    height: 22px;
    border-bottom: 3px solid #ff16;
}
.dh .screen-box-wrap .col-right{
    background-color: #fff;
    float:left;
    width: 290px;
    height: 522px;
   margin-left: 10px;
   margin-top: 10px;
   background-color: pink;

}

.dh .screen-box-wrap .col-right .member{
    width:290px;
    height: 132px;
    padding: 3px 0 10px 0;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.dh .screen-box-wrap .col-right .member .member-bd{
    width:290px;
    height: 91px;

}
.dh .screen-box-wrap .col-right .member .member-bd .tx{
    width:290px;
    text-align: center;
    height: 56px;
 }
 .dh .screen-box-wrap .col-right .member .member-bd .tx a{
    display: inline-block;
    height: 50px;
    width:50px;
    border-radius: 50%;
 }

.dh .screen-box-wrap .col-right .member .member-bd .tx a img{
    border-radius: 50%;
}
.dh .screen-box-wrap .col-right .member .member-bd .hello{
    display: block;
    line-height: 17px;
    height: 17px;
    text-align: center;
    color:#333;
    font-size: 14px;

}

.dh .screen-box-wrap .col-right .member .member-bd p{
    width:290px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}

.dh .screen-box-wrap .col-right .member .member-bd .icon,
.dh .screen-box-wrap .col-right .member .member-bd .club{
    display: inline-block;
    height: 17px;
    position: relative;
    color:#ff5000;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px 0 20px;
}

.dh .screen-box-wrap .col-right .member .member-bd .pic{
    display: inline-block;
    height: 16px;
    width:16px;
    position: absolute;
    top:0;
    left:0;
    background: url("img/pics.png");
    background-repeat: no-repeat;

}

.dh .screen-box-wrap .col-right .member .member-bd .con{
    background-color:#ffe4db;
    border-radius: 9px;
}

.dh .screen-box-wrap .col-right .member .member-bd .icon .pic{
    background-position: 0 -527.5px;
}

.dh .screen-box-wrap .col-right .member .member-bd .club .pic{
    background-position: 0 -528px;
}


.dh .screen-box-wrap .col-right .member .member-ft{
    width:290px;
    height: 40px;
    text-align: center;
}
.dh .screen-box-wrap .col-right .member .member-ft a{
    display: inline-block;
    width:75px;
    height: 25px;
    text-align: center;
    color:#fff;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    line-height: 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 7px;
    margin-top: 10px;
}

.dh .screen-box-wrap .col-right .member .member-ft .login{
    width:92px;
}

.dh .screen-box-wrap .col-right .message{
    height:26px ;
    width: 290px;
    background-color: #ffe4dd;
}
.dh .screen-box-wrap .col-right .message a{
    color:#f40;
    line-height: 26px;
    position: relative;
    padding-left: 82px;
    display: block;
    height: 26px;
    font-size: 12px;

}
.dh .screen-box-wrap .col-right .message a span{
    position: absolute;
    top:9px;
    right:55px ;
    width:9px;
    height:10px ;
    background: url(img/ysj.png);
    background-size: 100% 100%;


}
.dh .screen-box-wrap .col-right .notice{
    width:290px;
    height: 98px;
    padding-top: 10px;
    border-bottom: 1px solid black;

}
.dh .screen-box-wrap .col-right .notice li{
    float: left;
}
.dh .screen-box-wrap .col-right .notice .title{
    position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.dh .screen-box-wrap .col-right .notice .title li{
    text-align: center;
    line-height: 20px;
    width:32px;
    margin:0 11px;

}
.dh .screen-box-wrap .col-right .notice .title li a{
    color:#3c3c3c;
    font-size: 14px;
}

.dh .screen-box-wrap .col-right .notice .title .select{
    font-weight: 700;
    border-bottom: 2px solid #f40;

}

.dh .screen-box-wrap .col-right .notice .con li{
    width:130px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-right:10px;
    padding-left: 5px;
}

.dh .screen-box-wrap .col-right .notice .con li a{
    color:#3c3c3c;
    font-size: 14px;
}

.dh .screen-box-wrap .col-right .notice .con .select a{
    color:#ff5000;

}

.dh .screen-box-wrap .col-right .notice .con .select{
    width:290px;
}
.dh .screen-box-wrap .col-right .notice li:hover a{
    color:#ff5000;
}
.tu{
    overflow: hidden;
}
