*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    background-color: #f4f5f7;
}
div {
    display: flex;
    border-radius: 5px;

}
.div1 {
    display: flex;
    height: 60px;
    background-color: #000;
}
.div3 {
    display: flex;
    height: 250px;
    background-color: #393D49;
}
.div2 {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.div2 > div {
    margin-top: 20px;
    width: 1200px;
}
.div01 ,.div03{
    height: 516px;
    box-sizing: border-box;
    display: flex;
}
.div02{
    height: 80px;
}
img {
    border-radius: 10px;
}
.div001 {
    flex: 2;
    box-sizing: border-box;
    background-color: #2d333a;
}
.div001 ul
{
    list-style:none;
    color: white;
    font-size: 18px;
}
.div001 ul li {
    padding: 18px 30px;
}
.div002 {
    flex: 8;
    display: flex;
    flex-flow: column nowrap;
}
.div0002 {
    flex: 1;
    display: flex;
}
.d {
    flex: 6;
}
.div11 {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div002>div:first-of-type>div:first-of-type
{
    flex: 6;
    display: flex;
    align-items: center;
}
.div002>div:first-of-type>div:first-of-type>a {
    padding: 10px;
    font-size: 14px;
    color: lightslategray;
}
.div002>div:first-of-type>div:last-of-type {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div002>div:first-of-type>div:last-of-type > input {
    width: 200px;
    height: 30px;
}
a {
    text-decoration: none;
    color: #f4f5f7;
}
nav {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > a {
    padding: 15px;
}
.logo {
    width: 160px;
    background-size: cover;
}
.login {
    width: 300px;
    margin-left: 170px;
    justify-content: flex-end;
}
.login > a {
    line-height: 60px;
    padding: 20px;
}
.div01 {
    background-color: white;
}
.div03 {
    display: flex;
}
.div03>div:first-of-type {
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
}
.div03>div:first-of-type>ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
  
}
.div03>div:first-of-type>ul>li{
    font-size: 15px;
    padding: 8px;
    border-bottom: 1px solid black;
}
h4 {
    margin-top: 15px;
    margin-left: 30px;
}
.div03>div:nth-of-type(2) {
    flex: 6;
    display: flex;
    flex-flow: column nowrap;
}
.div03>div:nth-of-type(2)>div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.div03>div:nth-of-type(2)>div>div {
    display: flex;
    flex-flow: column nowrap;
}
.div03>div:nth-of-type(2)>div>div >a{
    width: 200px;
    height: 200px;
    text-align: center;
}
.div03>div:nth-of-type(2)>div>div >a > img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.div03>div:last-of-type {
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
}
.div03>div:last-of-type>div {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 20px;
}
